
body {
  background: white;
  /* Added to stop the slideshow image from expaning the margins. */
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
}
h1#site-title {
  text-transform: uppercase;
}

th {
  border: 1px solid #3b5870;
}

/**
 * Frontpage
 */

#divseek-navpane {
  margin-top: 50px;
  display: inline-flex;
}
#divseek-navpane #crops-navpane {
  flex-grow: 0;
  width: 360px;
}
#divseek-navpane #tools-navpane {
  flex-grow: 1;
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  margin-left: 50px;
}

/* Tool Cards */
#tools-navpane .tool {
  width: 200px;
  height: 200px;
  margin: 0 30px 30px 30px;
  text-align: center;
}

#tools-navpane .tool .tags .tag {
	display: inline-block;
	height: 23px;
	margin: 0 5px 10px; 0;
	padding: 0 7px 0 14px;
	white-space: nowrap;
	position: relative;

	background-color: #0C9CD0;

	color: #FFFFFF;
	text-decoration: none;

	border-top: 1px solid #E5E3E3;
	border-bottom: 1px solid #E5E3E3;
	border-right: 1px solid #E5E3E3;
	border-radius: 1px 2px 2px 1px;
}
#tools-navpane .tool .tags .tag:before {
	content: '';
	position: absolute;
	top: 5px;
	left: -6px;
	width: 10px;
	height: 10px;

	background-color: #0C9CD0;

	border-left: 1px solid #E5E3E3;
	border-bottom: 1px solid #E5E3E3;
	border-radius: 0 0 0 2px;
}
#tools-navpane .tool .tags .tag:before {
	-webkit-transform: scale(1, 1.5) rotate(45deg);
	-moz-transform: scale(1, 1.5) rotate(45deg);
	-ms-transform: scale(1, 1.5) rotate(45deg);
	transform: scale(1, 1.5) rotate(45deg);
}
#tools-navpane .tool .tags .tag:after {
	content: '';
	position: absolute;
	top: 7px;
	left: 1px;
	width: 5px;
	height: 5px;
	background: #FFF;
	border-radius: 4px;
	border: 1px solid #E5E3E3;
}

#tools-navpane .tool .tag.geno,
  #tools-navpane .tool .tag.geno:before {

  background-color: #f56420;
}

#tools-navpane .tool .tag.germ,
  #tools-navpane .tool .tag.germ:before {

  background-color: #1faf37;
}

#tools-navpane .tool .tag.pheno,
  #tools-navpane .tool .tag.pheno:before {

  background-color: #0C9CD0;
}

#tools-navpane .tool.disabled .title {
  color: #9ba2aa !important;
}
#tools-navpane .tool.disabled .tag,
  #tools-navpane .tool.disabled .tag:before {

  color: #acb3bb !important;
  background-color: whitesmoke !important;
}



/* Crop Cards */
/** Credit goes to: https://codepen.io/hexagoncircle/pen/XWbWKwL */

#crops-navpane .card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 1rem;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 200px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  /* Shadow for the card */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
  /* Shadow for the text */
  text-shadow: 1px 0 0 #3b5870,0 1px 0 #3b5870,-1px 0 0 #3b5870,0 -1px 0 #3b5870;
}
#crops-navpane .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
}
#crops-navpane .card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  /*
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);*/
  transform: translateY(-50%);
  transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
}

/** Images for the cards */
#crops-navpane .card:nth-child(1):before {
  background-image: url(../images/frontpage/Flax-rick.png);
}
#crops-navpane .card:nth-child(2):before {
  background-image: url(../images/frontpage/Lentil-DerekWright.png);
}
#crops-navpane .card:nth-child(3):before {
  background-image: url(../images/frontpage/Sunflower-gjetvaj.png);
}

#crops-navpane .card .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
}
#crops-navpane .card .content > * + * {
  margin-top: 1rem;
}

#crops-navpane .card .title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  color: #FFF;
}

#crops-navpane .card .copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

@media (hover: hover) and (min-width: 600px) {
  #crops-navpane .card .card:after {
    transform: translateY(0);
  }

  #crops-navpane .card .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  #crops-navpane .card .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  #crops-navpane .card:hover,
    #crops-navpane .card:focus-within {

    align-items: center;
  }
  #crops-navpane .card:hover:before,
    #crops-navpane .card:focus-within:before {

    transform: translateY(-4%);
  }
  #crops-navpane .card:hover:after,
    #crops-navpane .card:focus-within:after {

    transform: translateY(-50%);
  }
  #crops-navpane .card:hover .content,
    #crops-navpane .card:focus-within .content {

    transform: translateY(0);
  }
  #crops-navpane .card:hover .content > *:not(.title),
    #crops-navpane .card:focus-within .content > *:not(.title) {

    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(700ms / 8);
  }

  #crops-navpane .card:focus-within:before, .card:focus-within:after,
    #crops-navpane .card:focus-within .content,
    #crops-navpane .card:focus-within .content > *:not(.title) {

    transition-duration: 0s;
  }
}

/**
 * Tripal Content Type tweaks.
 */

.page-bio-data .ds-left {
  width: 19%;
}
.page-bio-data .ds-right {
  width: 78%;
}

.page-bio-data .tripald3-legend {
  font-style: normal;
}

/* TRIPAL PANES. */
.page-bio-data .tripal_pane {
  border: 0;
}
.page-bio-data .tripal_pane > span {
  background: #FFF;
  border: 0;
  border-bottom: 1px solid #d0d0d0;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: bold;
  color: #314355;
  line-height: 1.2;
  margin-bottom: 15px;
}
.page-bio-data #tripal-pane-close-button {
  color: #a4a5a4;
}
.tripal_pane-fieldset-buttons .fa-times-rectangle-o::before,
  .tripal_pane-fieldset-buttons .fa-window-close-o::before {
    content: "x";
}
.tripal_pane-fieldset-buttons .fa-lg {
  vertical-align: 0;
}

/* TABLE */
.page-bio-data table caption, .page-bio-data table caption .tripald3-title {
  font-weight: bolder;
  font-style: normal;
  font-size: 14px;
}
.page-bio-data tr, .page-bio-data tr.even {
  background: none;
}
.page-bio-data table caption .tripald3-desc {
  font-weight: normal;
  font-style: italic;
  font-size: 12.6px;
}
.page-bio-data table tbody th {
  width: 150px;
}
.page-bio-data .trpfancy-table-footer {
  position: relative;
  top: -10px;
  margin-bottom: 10px;
}

/* FIELDS */
.page-bio-data div.field-label {
  font-weight: bolder;
  font-size: 14px;
  margin-top: 15px;
}

.page-bio-data .field h3 {
  font-weight: bolder;
  font-size: 14px;
  margin-top: 15px;
}
